.headerContainer {
    background: var(--green-800);

    .container {
        width: 94%;
            margin: 0 auto;
        
        height: 6.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: Ubuntu Condensed;

        box-sizing: border-box;

        a {
            text-decoration: none;

            h1 {
                padding: 1.8rem;
                color: var(--white);
                font-family: Ubuntu Condensed;
                font-weight: bold;
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            Button {
                display: block;
                border-bottom: 1px solid #9799A6;
            }
        }
    }
}